<p>
  <ImageUpload @url="http://localhost:8080/v1/images"
               @image="http://placeimg.com/640/480/any"
               @thumbnailHeight={{350}}
               @thumbnailWidth={{350}}
               @reset={{this.resetUpload}} />
</p>

<p>
  <button {{on "click" this.reset}}>Reset</button>
</p>
